<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="../static/style.css" />

    <title>RoboVote!</title>
</head>
<body>
    <div class="root">
        <div class="flex-cont">
            <button id="choice-1"></button>
            <button id="choice-2"></button>

            <div>
            </div>
            <div>
            </div>
        </div>
    </div>

    <script src="../static/superagent.js"></script>
    <script src="../static/poll.js"></script>
</body>
</html>
