<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Manual Override</title>

    <link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet">

    <link rel="stylesheet" href="{{css}}" />
    <link rel="stylesheet" href="{{oCss}}" />
    <script src="{{sa}}"></script>
    <script src="{{js}}"></script>
</head>
<body>
    <div class="root">
        <div class="flex-cont" id="control">
            
        </div>
    </div>
</body>
</html>